/*PREECHENDO TODA A TELA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden; /*remove a barra de rolagem horizontal*/
    width: 100%; /*preencher sempre 100% da tela*/
}

header {
    background-color: #F8A523;
    /*cor de fundo do cabeçalho*/
    font-family: poppins, sans-serif;
    /*fonte do cabeçalho*/
    color: white;
    /*cor do texto do cabeçalho*/
}

nav a {
    color: white;
    /*cor dos links do menu*/
    text-decoration: none;
    /*remover sublinhado dos links*/
    margin: 0 10px;
    /*espaçamento entre os links*/
}

nav {
    text-align: center;
    /*alinhamento do texto dos links*/
    border-color: white;
    /*cor da borda do menu*/
    border-width: 1px;
    /*largura da borda do menu*/
    border-style: solid;
    /*estilo da borda do menu*/
    padding: 5px;
    /*distância entre as bordas do menu de navegação*/
}

.logo img {
    height: 110px;
    /*altura da imagem do logo*/
    width: 110px;
    /*largura da imagem do logo*/
}

/* configurando a caixa de pesquisa */
.caixa-pesquisa input {
    padding: 10px;
    /*espaçamento interno da caixa de pesquisa*/
    border: 1px solid #ccc;
    /*borda da caixa de pesquisa*/
    border-radius: 10px;
    /*arredondamento dos cantos da caixa de pesquisa*/
    font-family: poppins, sans-serif;
    /*fonte da caixa de pesquisa*/
    width: 300px;
    /*largura da caixa de pesquisa*/
    height: auto;
    /*altura da caixa de pesquisa*/
    padding-left: 50px;
    /*espaçamento interno do placeholder para evitar sobreposição com o ícone de pesquisa*/
}

/*configurando a div da pesquisa*/
.caixa-pesquisa {
    display: flex;
    /*exibe os elementos em linha*/
    margin-top: 10px;
    /*espaçamento superior da caixa de pesquisa*/
    justify-content: center;
    /*alinhamento horizontal da caixa de pesquisa*/
    margin-bottom: 10px;
    /*espaçamento inferior da caixa de pesquisa*/
    position: relative;
    /*posição relativa para posicionar o ícone de pesquisa*/
}

/* alinhar as divs do cabeçalho */
.topo {
    display: flex;
    /*exibe os elementos em linha*/
    align-items: center;
    /*alinhamento vertical dos elementos do cabeçalho*/
    justify-content: space-between;
    /*alinhamento horizontal dos elementos do cabeçalho*/
    /*distribuição dos elementos com espaço entre eles*/
}

/* configurando os icones*/
.caixa-pesquisa img {
    height: 20px;
    /*altura dos icones*/
    width: 20px;
    /*largura dos icones*/
    position: absolute;
    /*posição absoluta para posicionar o ícone de pesquisa*/
    left: 10px;
    /*distância do ícone de pesquisa em relação à borda esquerda da caixa de pesquisa*/
    top: 50%;
    /*alinhamento vertical do ícone de pesquisa*/
    transform: translateY(-50%);
    /*ajuste para centralizar o ícone de pesquisa verticalmente*/
}

.caixa-pesquisa placeholder {
    padding-left: 30px;
    /*espaçamento interno do placeholder para evitar sobreposição com o ícone de pesquisa*/
}

.icones a img {
    height: 35px;
    /*altura dos ícones de redes sociais*/
    width: 35px;
    /*largura dos ícones de redes sociaispx; /*espaçamento entre os ícones de redes sociais*/
    margin-right: 20px;
    /*espaçamento entre os ícones de redes sociais*/
}

.icones a small {
    font-size: 10px;
    /*tamanho da fonte dos textos dos ícones de redes sociais*/
    display: block;
    /*exibe os textos dos ícones de redes sociais em bloco*/
    color: white;
    /*cor dos textos dos ícones de redes sociais*/
}

.icones a p {
    font-size: 12px;
    /*tamanho da fonte dos textos dos ícones de redes sociais*/
    display: block;
    /*exibe os textos dos ícones de redes sociais em bloco*/
    color: white;
    /*cor dos textos dos ícones de redes sociais*/
}

.icones a {
    text-decoration: none;
    /*remover sublinhado dos links dos ícones de redes sociais*/
}


/*configurando a div icones*/
.icones {
    display: flex;
    /*exibe os elementos em linha*/
    align-items: center;
    /*alinhamento vertical dos elementos da div icones*/
    gap: 30px;
    /*espaçamento entre os elementos da div icones*/
}